<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
    <title>Our Class Web page</title>
    <style>
        h6{
            font-size:40px;
        }
        p{
            color:red;
        }
        a:hover{
            color:hotpink;
        }
        a:visited{
            color:green;
        }
    </style>
</head>
   <body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" href="#">My recipes</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">Link</a>
               </li>
               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Dropdown
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="/userinput">crabbywebpage</a>
                       <!--                       <a class="dropdown-item" href="#">Another action</a>-->
                       <div class="dropdown-divider"></div>
                       <!--                       <a class="dropdown-item" href="#">Something else here</a>-->
                   </div>
               </li>
               <li class="nav-item">
                   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
               </li>
           </ul>
           <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
       </div>
   </nav>
   <h1>Did you find all your tag pairs</h1>
   <h1 style="color:blue"> Still Shiferaw</h1>

   <h3>How long did it take us</h3>
   <h4>There were 20 something pairs in total</h4>
   <h6>This is my last heading text. Let's go into more fun stuff</h6>

       <p>Here's what we ate in the potluck yesterday</p>
   <div>
   <ul>
       <li>Lasagna</li>
       <li>Duck Donuts</li>
       <li>Key lime pie</li>
       <li>Chips</li>
       <li>Dunkin Donuts</li>
       <li>Drinks</li>
   </ul>
   </div>
   <hr/>
   <img src="https://images.freeimages.com/images/large-previews/23a/three-gondoliers-and-a-duck-1391336.jpg" width="132"/>  <br>

   <a href="https://www.google.com/"> my Google.com </a>

   <form action="/action_page.php">
       First name:<br>
       <input type="text" name="firstname">
       <br>
          </form>


   Food I brought   <textarea></textarea> <br>-->
          <button>Submit</button> <button>Cancel</button>
          <table boarder="1">

              <tr>
                  <th>staff</th>
                  <th>Their favorite</th>
              </tr>
              <tr>
                  <td>Jennifer</td>
                  <td>Green tea ice cream</td>
              </tr>
              <tr>
                  <td>Sherry</td>
                  <td>Chai tea </td>
                  </tr>
              <tr>
                  <td>Aj</td>
                  <td>Olivian Maccaroni</td>
              </tr>
          </table>
      </form>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
   </body>
</html>